body {
    padding: 10px 5px;
    line-height: 1.3;
    background-image: url(./carson-masterson-yuxr5ohFB-g-unsplash.jpg);
    background-size: cover;

    
}

header
{
    background-image: url(./sergio-alves-santos-PeDrafNlY2Y-unsplash.jpg);
    background-position: center;
    padding: 35px 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    margin-bottom: 15px;
}

h2,
h1,
p {
    color: goldenrod;
    font-family: fantasy;
    font-style: oblique;
}